.bag{
    background-color: rgb(122, 235, 122);
    border: none;
    padding:5px 15px;
    border-radius: 10px;
}

.wishlist{
    padding:5px 35px;
    border: 2px solid black;
    border-radius: 10px;
}